@page "/todos"
@inject HttpClient Http
@using global::Shared
@using Microsoft.AspNetCore.Components.QuickGrid
@inject NavigationManager NavigationManager


<button @onclick="AddToDo" class="btn btn-primary">Add a ToDo</button>
<br/>

<h3>List of My To Dos</h3>
@if (toDos is null)
{
    <span>Loading To Dos...</span>
} 

else 
{
    <QuickGrid Items="toDos.AsQueryable()">
           <PropertyColumn Property="g => g.Name"/>
            <PropertyColumn Property="g => g.Description"/>
            <PropertyColumn Property="g => g.Date"/>
        <TemplateColumn>
            <button @onclick="(() => EditToDo(context.Id))" class="btn btn-primary">Edit a ToDo</button>
        </TemplateColumn>
    </QuickGrid>
    }
@code{
    
public List<Todo>? toDos;
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Todo>>("api/todo");
        if (result != null)
            toDos = result;
    }
    void AddToDo()
    {
            NavigationManager.NavigateTo("/todo");
    }
    void EditToDo(int id)
    {
        NavigationManager.NavigateTo($"/todo/{id}");
    }

}