@page "/todos"
@inject HttpClient Http
@using global::Shared
@using System.Net


<h3>To Dos</h3>
@if (toDos.Count <= 0)
{
    <span>Loading To Dos...</span>
}
else {
    <ul>
        @foreach (var toDo in toDos)
        {
            <li>@toDo.Name - @toDo.Description</li>
        }
    </ul>
    }
@code{
List<Todo> toDos = new List<Todo>();
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<Todo>>("api/todo");
        if (result != null)
            toDos = result;
    }

}